body, h1, h2, h3, p, ul, li {
    margin: 0px;
    padding: 10px;
    border: 0px;
    vertical-align: baseline;
}

body {
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}

*{
    box-sizing: border-box;
    position: static;
}
section{
    padding-bottom: 10px;
    display: flex
}
label{
    
    padding-right:20px;
    width: 100px;
    display: flex;
    align-items: center;
}

form{
    background-color: gray;
    border-radius: 5px;
    padding: 20px;
}
